Options -Indexes

<FilesMatch "^\.">
    Require all denied
</FilesMatch>

RewriteEngine On

RewriteRule ^backEnd(/.*)?$ - [F,L]
RewriteRule ^frontEnd(/.*)?$ - [F,L]

RewriteCond %{REQUEST_URI} !/index\.php$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Ocultar la extensión .php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [L]

# Ocultar la extensión .html
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [L]